## 1.1.1.Exercice

On rappelle quelques suites et séries numériques classiques.

- La somme des $n$ premiers entiers $s_1(n) = 1+ 2 + \ldots + (n+1) + n = \sum_{k=1}^n k$ ;

- La suite arithmético-géométrique $u_{n+1} = u_n/3 + 2$ avec $u_0 = 1$

- La suite de Fibonacci $u_{n+1} = u_n + u_{n-1}$ et $u_0 = u_1 = 1$


1. Pour chacune de ces suites, écrire l’algorithme qui demande et lit une valeur de $n$ entrée au clavier, calcule le $n$-ième terme de la suite puis l’affiche à l’écran.

In [27]:
#la somme des n premiers entiers
n = int(input("n = "))

res1 = 0
for i in range(1,n+1):
    res1 = res1 + i
print(res1)

#la suite arithmético-géométrique
res2 = 1
for i in range(n):
    res2 = res2/3 + 2
print(res2)

#la suite de Fibonacci
res3 = 1
u0 = 1
u1 = 1
for i in range(1,n):
    res3 = u1 + u0
    u0 = u1
    u1 = res3
print(res3)

n = 5
15
2.9917695473251027
8

2. Écrire des fonctions (en-tête, appel, corps) qui calculent et retournent le $n$-ième terme des suites précédentes. L’appel incluera les phases d’entrées et de sorties de l’algorithme principal précédent.

In [33]:
def somme(n:int)->int:
    res1 = 0
    for i in range(1,n+1):
        res1 = res1 + i
    return res1

def arithmetico_geo(n:int)->float:
    res2 = 1
    for i in range(n):
        res2 = res2/3 + 2
    return res2

def fibonacci(n:int)->int:
    res3 = 1
    u0 = 1
    u1 = 1
    for i in range(1,n):
        res3 = u1 + u0
        u0 = u1
        u1 = res3
    return res3
        
print(somme(5))
print(arithmetico_geo(3))
print(fibonacci(4))

15
2.925925925925926
5

## 1.1.2. Exercice

1. Définir et écrire une fonction est_rectangle() qui vérifie si un triangle est rectangle. Aucune hypothèse est effectuée sur les paramètres de ce traitement.

In [1]:
def est_rectangle(a:float,b:float,c:float)->bool:
    tmp = 0
    if a > b:
        tmp = a
        a = b
        b = tmp
    elif b > c:
        tmp = b
        b = c
        c = tmp
    if a*a+b*b==c*c:
        return True
    return False

est_rectangle(3.0,5.0,4.0)

True

2. Ecrire un ensemble de tests unitaires adaptés. Justifier vos choix.

In [ ]:
def est_rectangle(a:float,b:float,c:float)->bool:
    assert type(a) == float
    assert type(b) == float
    assert type(c) == float
    tmp = 0
    if a > b:
        tmp = a
        a = b
        b = tmp
    elif b > c:
        tmp = b
        b = c
        c = tmp
    if a*a+b*b==c*c:
        return True
    return False

est_rectangle(3.0,5.0,4.0)

## 1.1.3. Exercice

La valeur de factorielle (de) $n$, ù $n$ est un entier positif, est : $n! = 1 \times 2 \ldots \times (n-1) \times n$. On choisit $0! = 1$.

2.  Écrire la fonction factorielle() qui calcule et retourne $n!$.

In [20]:
def factorielle(b:int)->int:
    n = 1
    for i in range(1,b+1):
        n = n*i
    return n

factorielle(5)

120

3. La fonction factorial() du module math effectue le même calcul. Utiliser cette fonction pour définir et coder des tests unitaires de votre fonction factorielle().

In [21]:
from math import *
def factorielle2(b:int)->int:
    assert factorial(b) == 120
    assert type(b) == int
    n = 1
    for i in range(1,b+1):
        n = n*i
    return n

factorielle2(5)

120

4. Utiliser la fonction factorielle() pour écrire des fonctions qui calculent les quantités suivantes.
    1.Le nombre d’arrangements (listes ordonnées) de $k$ valeurs prises dans un ensemble de $n$ valeurs est : $A_n^k = n!/(n-k)!$,$(k<=n)$
.

In [118]:
def fact(k : int, n : int) -> int:
    assert k <= n and n >= 0 and k >= 0
    
    return factorielle(n)//factorielle(n-k)
    
assert fact(2,5) == 20
assert fact(5,8) == 6720
fact(5,8)

6720

## 1.1.5. Exercice

Écrire une fonction moy() qui calcule et retourne la moyenne de 4 valeurs flottantes. Ces 4 valeurs sont entrées au clavier et stockées dans un tableau.

In [25]:
def moy(tab:list[float])->float:
    somme = 0
    for i in range(len(tab)):
        somme += tab[i]
    return somme/len(tab)

a = [float(input("valeur flottante : ")) for i in range(4)]
moy(a)

valeur flottante : 4.0
valeur flottante : 5.2
valeur flottante : 6.
valeur flottante : 4.

4.8

## 1.1.6. Exercice

Ecrire une fonctions tabup() qui vérifie si les n valeurs d’un tableau sont rangées par ordre croissant. Ces valeurs sont des entiers.

In [8]:
def tabup(tab2:list[int],n:int)->bool:
    for i in range(1,n):
        if tab2[i]<tab2[i-1]:
            return False
    return True

n = int(input("n : "))
b = [int(input("valeur = ")) for h in range(n)]
tabup(b,n)

n : 5
valeur = 1
valeur = 3
valeur = 4
valeur = 6
valeur = 7

True

## 1.1.7.Exercice

Soit t un tableau 1D d’entiers de taille n arbitraire. Voici quelques traitements classiques de ces tableaux et les fonctions associées.
1. max_tab() qui calcule et retourne la valeur maximale d’un tableau 1D.

2. max_ind_max() qui calcule et retourne le plus grand indice de la valeur maximale d’un tableau 1D.

3. min_ind_max() : une modification de la fonction précédente qui calcule et retourne le plus petit indice de la valeur maximale d’un tableau 1D.

Pour chacune de ces fonctions, deux questions.
1. Proposer des solutions itératives alternatives (for vs. while) lorsque qu’elles conduisent à des traitements différents.

In [2]:
from random import randint
def max_tab(t : list[int], n : int) -> int:
    """Fonction max_tab qui permet de calculer et retourner la valeur maximale d'un tableau 1D en utilisant for"""
    assert n > 0
    max = t[0]
    for i in range(1,n):
        if t[i] > max:
            max = t[i]
    return max

n = int(input("taille du tableau : "))
c = [randint(1,100) for h in range(n)]
max_tab(c,n)

taille du tableau :  5

88

In [98]:
def max_tab2(t : list[int], n : int) -> int:
    """Fonction max_tab qui permet de calculer et retourner la valeur maximale d'un tableau 1D en utilisant while"""
    assert n > 0
    max = t[0]
    i = 1
    while i < n:
        if t[i] > max:
            max = t[i]
        i += 1
    return max

n = int(input("taille du tableau : "))
c = [randint(1,100) for h in range(n)]
max_tab2(c,n)

taille du tableau : 90

100

In [70]:
def max_ind_max(t : list[int], n : int) -> int:
    """Fonction max_ind_max qui permet de calculer et retourner le plus grand indice de la valeur maximale d'un tableau 1D en utilisant for"""
    i_max = 0
    for i in range(1,len(t)):
        if t[i_max] <= t[i]:
            i_max = i
    return i_max

n = int(input("taille du tableau : "))
k = [randint(1,5) for h in range(n)]
print(max_ind_max(k,n))
print(k)

taille du tableau : 4
3
[5, 4, 3, 5]

In [1]:
def max_ind_max2(t : list[int], n : int) -> int:
    """Fonction max_ind_max qui permet de calculer et retourner le plus grand indice de la valeur maximale d'un tableau 1D en utilisant while"""
    i_max = 0
    i = 1
    while i < n:
        if t[i] >= t[i_max]:
            i_max = i
        i += 1
    return i_max

n = int(input("taille du tableau : "))
k = [randint(1,100) for h in range(n)]
print(max_ind_max2(k,n))
print(k)

taille du tableau :  5

NameError: name 'randint' is not defined

In [94]:
def min_ind_max(t : list[int], n : int) -> int:
    """Fonction max_ind_max qui permet de calculer et retourner le plus petit indice de la valeur minimale d'un tableau 1D en utilisant for"""
    i_min = 0
    for i in range(1,n):
        if t[i] > t[i_min]:
            i_min = i
    return i_min

n = int(input("taille du tableau : "))
k = [randint(1,100) for h in range(n)]
print(min_ind_max(k,n))
print(k)

taille du tableau : 15
13
[49, 49, 24, 9, 41, 21, 2, 32, 57, 31, 56, 71, 63, 74, 3]

In [93]:
def min_ind_max2(t : list[int], n : int) -> int:
    """Fonction max_ind_max qui permet de calculer et retourner le plus petit indice de la valeur minimale d'un tableau 1D en utilisant while"""
    i_min = 0
    i = 1
    while i < n:
        if t[i] > t[i_min]:
            i_min = i
        i += 1
    return i_min

n = int(input("taille du tableau : "))
k = [randint(1,5) for h in range(n)]
print(min_ind_max2(k,n))
print(k)

taille du tableau : 15
1
[4, 5, 5, 5, 5, 2, 1, 3, 5, 2, 3, 2, 4, 4, 3]

## 1.1.8. Exercice (extrait d’examen 2017 sans machine)

1. Que calcule la fonction m suivante ?

In [2]:
def m(s : str, n : int, c : str) -> int: 
        ''' role : à vous de deviner :) '''
        res = 0
        for i in range(n): 
            if s[i] == c: 
                res = res + 1 
        return res
    
m("experience",len("experience"),"e")

4

réponse 1. Calcule le nombre de fois où une lettre demandé apparait dans un mot

2. Quel résultat produit l’exécution du code suivant ?

In [3]:
t = "anticonstitutionnellement" 
nba = m(t, len(t), 'a') 
nbe = m(t, len(t), 'e') 
nbl = m(t, len(t), 'l') 
print(len(t), nba, nbe, nbl)

25 1 3 2

réponse 2. cela renvoie la longueur du str stocké dans la variable t, le nombre de fois où a,e et l apparaissent dans le str stocké dans la variable t

3. Utiliser la fonction m pour écrire une fonction mm qui identifie et retourne la lettre ayant le maximum d’occurrences dans une chaîne de caractères de longueur n. Si plusieurs lettres conviennent, l’algorithme identifiera celle dont l’occurrence est la plus tardive dans s. Par exemple 'o' dans 'toto'.

In [71]:
def mm(s : str, n : int) -> str:
    max_o = 0
    res = -1 # stocke l'indice du maximum
    for i in range(n):
        tmp = m(s, n, s[i])
        if max_o <= tmp:
            max_o = tmp
            idx = i
    return s[idx]

def mm_smart(s : str, n : int) -> str:
    tmp = [m(s,n,s[i]) for i in range(n)]
    return s[max_ind_max(tmp,n)]

4. Écrire le code qui utilise mm et fournit l’affichage suivant.
- t est la lettre qui apparaît le plus ( 5 fois) dans anticonstitutionnellement
- o est la lettre qui apparaît le plus ( 2 fois) dans toto

In [72]:
t = "anticonstitutionnellement"
p = "toto"
assert mm(t, len(t)) == 't'
assert mm(p, len(p)) == 'o'
assert mm_smart(t, len(t)) == 't'

5. Modifier mm pour que dans le cas d’une occurrence maximale multiple, l’algorithme identifie la lettre de première occurrence. Par exemple, 't' dans 'toto'.

In [106]:
# fonctionne pas
def mm2(s : str, n : int) -> str:
    max_o = ""
    for i in range(n):
        res = m(s, n, s[i])
        if max_o < res:
            if max_o == res:
                max_o = max_o
            else:
                max_o = s[i]
    return max_o

In [107]:
t = "anticonstitutionnellement"
p = "toto"
mm2(t, len(t))
mm2(p, len(p))

TypeError: '<' not supported between instances of 'str' and 'int'

6. Réécrire la fonction mm de la question sans utiliser la fonction m.

## 1.1.9. Exercice

Un palindrome est un mot, ou un groupe de mots, dont l’ordre des lettres reste le même qu’on le lise de la droite vers la gauche ou inversement. Des exemples bien connus sont “été”, “kayak”, “mon nom”, “élu par cette crapule”. Ce dernier permet d’illustrer qu’on ne tient pas compte en général des accents, trémas, cédilles, ni des espaces. Dans cet exercice :

- un mot ou un groupe de mots est représenté par une chaîne de caractères (str),

- ces caractères sont sans accent, tréma, ni cédille : “ete”

- les espaces sont considérés comme des caractères : ainsi “elu par cette crapule” n’est pas un palindrome ici.

1. Ecrire une fonction qui teste si un argument est ou non un palindrome et retourne le booléen correspondant.

In [182]:
def palindrome(s : str, n : int) -> bool:
    for i in range(n//2):
        if s[i] != s[(n-1)-i]:
            return False
    return True

In [183]:
p = "kayak"
o = "ete"
h = "elu par cette crapule"
assert palindrome(p, len(p)) == True
assert palindrome(o, len(o)) == True
assert palindrome(h, len(h)) == False

## Palindrome (le retour)

1. Les espaces ne doivent plus être compté

In [230]:
def palindrome2(s : str, n : int) -> bool:
    i = 0
    j = n-1
    for k in range(n//2):
        while s[i] == " ":
            i += 1
        while s[j] == " ":
            j -= 1
            
        if s[i] != s[j]:
            return False
        
    return True

In [232]:
p = "kayak"
o = "ete"
h = "elu par cette crapule"
assert palindrome2(p, len(p)) == True
assert palindrome2(o, len(o)) == True
assert palindrome2(h, len(h)) == True

## 1.2.7. Exercice.

1. Écrire un algorithme qui calcule les tables de multiplications entre entiers compris en 1 et 10, les stocke dans un tableau 2D puis les affiche. Ainsi la case $(i,j)$ du tableau contient le résultat de $i \times j$.

In [136]:
n = 10
tab = [[0 for i in range(n)] for j in range(n)]

for i in range(n+1):
    for j in range(n+1):
        tab[i-1][j-1] = i * j
        
for i in range(n):
    for j in range(n):
        print(tab[i][j], end=" ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

## 1.2.9. Exercice.
Ecrire les algorithmes de vérification suivants pour une matrice $M$ donnée, carrée de taille $n$ et à valeurs flottantes.

1. $M$ est diagonale ?

In [192]:
def diagonale(n : int, m : list[list[float]]) -> bool:
    assert n == len(m) == len(m[0])
    for i in range(n):
        for j in range(n):
            if i != j and m[i][j] != 0:
                return False
    return True

In [223]:
Id = [[1.0,0.0,0.0],[0.0,1.0,0.0],[0.0,0.0,1.0]]
zero = [[0.0 for i in range(3)] for i in range(3)]
S = [[1.0,2.0,3.0],[2.0,3.0,4.0],[3.0,4.0,5.0]]

assert diagonale(len(Id),Id) == True
assert diagonale(len(zero),zero) == True
assert diagonale(len(S),S) == False

2. $M$ est symétrique ?

In [15]:
def symetrique(n : int, m : list[list[float]]) -> bool:
    assert n == len(m) == len(m[0])
    for i in range(n):
        for j in range(i+1,n):
            if m[i][j] != m[j][i]:
                return False
    return True

In [16]:
Id = [[1.0,0.0,0.0],[0.0,1.0,0.0],[0.0,0.0,1.0]]
zero = [[0.0 for i in range(3)] for i in range(3)]
S = [[1.0,2.0,3.0],[2.0,3.0,4.0],[3.0,4.0,5.0]]
T = [[1.0,2.0,3.0,4.0],[5.0,6.0,7.0,8.0],[9.0,10.0,11.0,12.0],[13.0,14.0,15.0,16.0]]

assert symetrique(len(Id),Id) == True
assert symetrique(len(zero),zero) == True
assert symetrique(len(S),S) == True
assert symetrique(len(T),T) == False

3. $M$ est égale à l’identité ?

In [89]:
def egal_identite(n : int, m : list[list[float]]) -> bool:
    for i in range(n):
        for j in range(n):
            if i == j: 
                if m[i][j] != 1:
                    return False
            else:
                if m[i][j] != 0:
                    return False
    return True

In [91]:
Id = [[1.0,0.0,0.0],[0.0,1.0,0.0],[0.0,0.0,1.0]]
S = [[1.0,2.0,3.0],[2.0,3.0,4.0],[3.0,4.0,5.0]]
S2 = [[1.0,2.0,3.0],[2.0,1.0,4.0],[3.0,4.0,1.0]]

assert egal_identite(len(Id),Id) == True
assert egal_identite(len(S),S) == False
assert egal_identite(len(S2),S2) == False

4. $M$ est l’inverse d’une autre matrice donnée $N$?

In [94]:
def produit_matrice(m : list[list[float]], n : int, o : list[list[float]], l : int):
    assert l == n
    m2 = [[0.0 for i in range(n)] for j in range(n)]
    for h in range(n):
        for i in range(n):
            for j in range(n):
                m2[h][i] += m[h][j] * o[j][i]       
    return m2

def inverse(m : list[list[float]], n : int, o : list[list[float]], l : int):
    
    C = produit_matrice(m,n,o,l)
    return egal_identite(n,C)

In [97]:
S = [[1.0,2.0,3.0],[2.0,7.0,4.0],[3.0,4.0,5.0]]
S2 = [[1.0,2.0,0.0],[2.0,1.0,4.0],[9.0,4.0,1.0]]

assert inverse(S,3,S2,3) == False

## 1.2.10. Exercice

Note. Cet exercice est inspiré d’un extrait de sujet d’examen. Il comporte des questions Objectifs 10 et Objectif 20.

Une image 2D peut être représentée par un tableau 2D de pixels.
Une image “noir et blanc” de taille $L \times C$ est ainsi représentée par un tableau de $L$ lignes et $C$ colonnes, de 0 (pixel blanc) ou de 1 (pixel noir).
Les images suivantes sont des exemples d’images $3 \times 4$.

![carre blanc](/3x4-blanc.png)

In [122]:
l = 3
c = 4
t = [[0 for i in range(c)] for j in range(l)]

print(t)
print(len(t), len(t[0]))

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
3 4

## Premières transformations d’images $3 \times 4$.

1. Ecrire l’algorithme qui transforme l’image blanche (à gauche) en une image noire $3 \times 4$ sans définir un autre tableau.

In [131]:
for i in range(l):
    for j in range(c):
        t[i][j] = 1

for i in range(l):
    print(t[i])

[1, 1, 1, 1]
[1, 1, 1, 1]
[1, 1, 1, 1]

2. Ecrire l’algorithme qui transforme l’image blanche en l’image du centre.

In [130]:
t = [[0 for i in range(c)] for j in range(l)]

t[1][1] = 1
t[1][2] = 1

for i in range(l):
    print(t[i])

[0, 0, 0, 0]
[0, 1, 1, 0]
[0, 0, 0, 0]

3. Ecrire l’algorithme qui transforme l’image blanche en l’image de droite.

In [129]:
t = [[0 for i in range(c)] for j in range(l)]

t[0][0] = 1
t[1][0] = 1
t[1][1] = 1
t[2][0] = 1
t[2][1] = 1
t[2][2] = 1

#for i in range(l):
#    for j in range(i,c-1):
#        t[j][i] = 1
for i in range(l):
    print(t[i])

[1, 0, 0, 0]
[1, 1, 0, 0]
[1, 1, 1, 0]

## Fonctions et transformation d’image de taille arbitraire.

On considère la dernière transformation où la partie triangulaire inférieure est noircie. Selon la forme de la matrice, cette partie noircie est un triangle (matrice rectangulaire “allongée” horizontalement) ou un trapèze (matrice rectangulaire “allongée” verticalement). On va définir cette transformation sous la forme d’une fonction.

1. Ecrire l’en-tête de cette fonction tr()

In [141]:
def tr(img : list[list[int]], L : int, C : int) -> list[list[int]]:
    """noircie la partie sous la diagonale de l'image"""
    pass

2. Appliquer cette fonction à l’image blanche de gauche.

In [176]:
t = [[0 for i in range(3)] for j in range(4)]

img = tr(t,len(t),len(t[0]))

for i in range(4):
    print(img[i])

[1, 0, 0]
[1, 1, 0]
[1, 1, 1]
[1, 1, 1]

3. Ecrire le corps de la fonction tr().

In [175]:
def tr(img : list[list[int]], L : int, C : int) -> list[list[int]]:
    """noircie la partie sous la diagonale de l'image"""
    for i in range(L):
        m = C
        if i+1 < C:
            m = i+1
        for j in range(m):
            img[i][j] = 1
    return img

4. ($*$) Définir une image t2 de taille $4 \times 8$ composée de lignes alternativement blanche et noire

In [177]:
t2 = [[0 for i in range(8)] for j in range(4)]

for i in range(4):
    if i % 2 == 1:
        t2[i] = [1 for j in range(8)]
        
for i in range(4):
    print(t2[i])

[0, 0, 0, 0, 0, 0, 0, 0]
[1, 1, 1, 1, 1, 1, 1, 1]
[0, 0, 0, 0, 0, 0, 0, 0]
[1, 1, 1, 1, 1, 1, 1, 1]

6. Ecrire ce traitement à l’aide de la fonction tr()

In [178]:
img = tr(t2,4,8)

for i in range(4):
    print(img[i])

[1, 0, 0, 0, 0, 0, 0, 0]
[1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 0, 0, 0, 0, 0]
[1, 1, 1, 1, 1, 1, 1, 1]

## Analyse d’une image de taille arbitraire.

1. Ecrire une fonction nbpixblc() qui compte et retourne le nombre de pixels blanc d’une image de taille arbitraire

In [172]:
def nbpixblc(img : list[list[int]], L : int, C : int) -> int:
    """renvoie le nombre de pixels blancs dans l'image img de taille LxC"""
    cpt = 0
    for i in range(L):
        for j in range(C):
            if img[i][j] == 0:
                cpt += 1
    return cpt

2. Que retourne l’application de cette fonction à l’image (4) de la question [que:im4].

L'image était de taille $4 \times 8 = 32$. Seul la moitié de ses pixels étaient blanc, il y avait donc $32/2 = 16$
pixels blancs

In [179]:
t2 = [[0 for i in range(8)] for j in range(4)]

for i in range(4):
    if i % 2 == 1:
        t2[i] = [1 for j in range(8)]
        
assert nbpixblc(t2,4,8) == 16