## Exercice 1 
#### On rappellle qlq suites numériques classsiques.
1. La somme d

In [1]:
#Somme1 
n=int(input("n="))
i=0
res1=0
while i<n+1:
    res1=res1+i
    i=i+1
print(res1)

n=3
6

In [2]:
n=int(input("n="))
res2=1
for i in range(n):
    res2=res2/3+2
print(res2)

n=3
2.925925925925926

In [3]:
#Fibonacci
n=int(input("n="))
res3=1
u0=1
u1=1
for i in range(1,n):
    res3=u1+u0
    u0=u1
    u1=res3
print('res3',res3)

n=3
res3 3

In [ ]:

def somme_n_entiers(n: int)->int:
    i=0
    res=0
    while i<n+1:
        res=res+i
        i=i+1
    return res
c=somme_n_entiers(2)
print(c)

def arithmetico_geo(n: int)->float:
    res=1
    for i in range(1,n+1):
        res=res/3+2
    return res
d=arithmetico_geo(10)
print("d=",d)

    
    
def fibonacci(n: int)->int:
    res=1
    u0=1
    u1=1
    for i in range(1,n):
        res=u1+u0
        u0=u1
        u1=res
    return res
o=fibonacci(5)
print(o)

## Exercice 1.1.2

In [ ]:
#1
def est_rectangle(a,b,c: float)->bool:
    if a**2== b**2+c**2:
        res=True
    else:
        res=False
    return res
assert est_rectangle(5,4,3) == True

## Exercice 1.1.3

In [120]:
from math import factorial
#2
def factorielle(n:int)->int:
    i=1
    res=1
    while i <n:
        res=res+(res*i)
        i+=1
    return res
#3
assert factorielle(5)==factorial(5)
#4 
def arrangement(n,k:int)->int:
    res= factorielle(n)/factorielle(n-k)
    return res

In [ ]:
assert arrangement(3,2) == 6

In [ ]:
def com(n,k:int)->int:
    res=arrangement(n,k)/factorielle(k)
    return res

In [ ]:
assert com(5,2)== 10

## Exercice 1.1.4

In [37]:
for i in range(1,127):
    m=chr(i)
    print(i,"=",m)

1 = 
2 = 
3 = 
4 = 
5 = 
6 = 
7 = 
8 = 
9 =
10 =

11 =
12 =
13 =
14 = 
15 = 
16 = 
17 = 
18 = 
19 = 
20 = 
21 = 
22 = 
23 = 
24 = 
25 = 
26 = 
27 = 
28 =
29 =
30 =
31 =
32 =
33 = !
34 = "
35 = #
36 = $
37 = %
38 = &
39 = '
40 = (
41 = )
42 = *
43 = +
44 = ,
45 = -
46 = .
47 = /
48 = 0
49 = 1
50 = 2
51 = 3
52 = 4
53 = 5
54 = 6
55 = 7
56 = 8
57 = 9
58 = :
59 = ;
60 = <
61 = =
62 = >
63 = ?
64 = @
65 = A
66 = B
67 = C
68 = D
69 = E
70 = F
71 = G
72 = H
73 = I
74 = J
75 = K
76 = L
77 = M
78 = N
79 = O
80 = P
81 = Q
82 = R
83 = S
84 = T
85 = U
86 = V
87 = W
88 = X
89 = Y
90 = Z
91 = [
92 = \
93 = ]
94 = ^
95 = _
96 = `
97 = a
98 = b
99 = c
100 = d
101 = e
102 = f
103 = g
104 = h
105 = i
106 = j
107 = k
108 = l
109 = m
110 = n
111 = o
112 = p
113 = q
114 = r
115 = s
116 = t
117 = u
118 = v
119 = w
120 = x
121 = y
122 = z
123 = {
124 = |
125 = }
126 = ~

### 1.1.5. Exercice
##### Écrire une fonction moy() qui calcule et retourne la moyenne de 4 valeurs flottantes. Ces 4 valeurs sont entrées au clavier et stockées dans un tableau

In [55]:
def moy(t : list[float], n : int) -> float:
    s= 0
    for i in range(len(t)):
        s=s+t[i]
    res=s/n
    return res

t=[float(input('entrez une val floatante=')) for i in range(4)]
print('la moy des val est', moy(t,4))

entrez une val floatante=4.0
entrez une val floatante=3.6
entrez une val floatante=2
entrez une val floatante=2
la moy des val est 2.9

## 1.1.6. Exercice
#### Ecrire une fonctions tabup() qui vérifie si les n valeurs d’un tableau sont rangées par ordre croissant. Ces valeurs sont des entiers.

In [34]:
def tabup(t : list[int])->bool:
    res=True
    for i in range(1,len(t)):
        if t[i]<t[i-1]:
            res=False
    return res

tabup([1,3,4])

True

## 1.1.7. Exercice
#### Soit t un tableau 1D d’entiers de taille n arbitraire. Voici quelques traitements classiques de ces tableaux et les fonctions associées.
1. max_tab() qui calcule et retourne la valeur maximale d’un tableau 1D.
2. max_ind_max() qui calcule et retourne le plus grand indice de la valeur maximale d’un tableau 1D.
3. min_ind_max() : une modification de la fonction précédente qui calcule et retourne le plus petit indice de la valeur maximale d’un tableau 1D.

In [5]:
#1
def max_tab(t : list[int],n : int)-> int:
    res = t[0]
    for i in range(1,len(t)):
        if t[i]> res:
            res= t[i]
    return res

In [9]:

assert max_tab([5,9,10,6,0],5)==10

In [61]:
def max_ind_max(t: list[int],n: int)->int:
    res=t[0]
    res2=0
    for i in range(1,len(t)):
        if t[i] >=res:
            res2=i
            res=t[i]
    return res2

assert max_ind_max([1,2,3,3,1],5)==3

In [63]:
#3
def min_ind_max(t: list[int],n: int)->int:
    res=t[0]
    res2=0
    for i in range(1,len(t)):
        if t[i] > res:
            res2=i
            res=t[i]
    return res2

assert min_ind_max([1,2,3,3,1],5)==2

## 1.1.7. Exercice (WHILE)
#### Soit t un tableau 1D d’entiers de taille n arbitraire. Voici quelques traitements classiques de ces tableaux et les fonctions associées.
1. max_tab() qui calcule et retourne la valeur maximale d’un tableau 1D.
2. max_ind_max() qui calcule et retourne le plus grand indice de la valeur maximale d’un tableau 1D.
3. min_ind_max() : une modification de la fonction précédente qui calcule et retourne le plus petit indice de la valeur maximale d’un tableau 1D.

In [ ]:
#1
def max_tab_w(t : list[int],n : int)->int:
    i=0
    res = t[0]
    while i<=len(t):
        if t[i]>res:
            res=t[i]
        i=i+i
    return res
assert max_tab([5,9,10,6,0],5)==max_tab_w([5,9,10,6,0],5)

In [ ]:
#2 
def max_ind_max_w (t: list[int],n: int)->int:
    i=0
    res=t[0]
    res2=0
    while i <=len(t):
         if t[i] >=res:
            res2=i
            res=t[i]
        i=i+1
    return res2

assert max_ind_max([1,2,3,3,1],5)== max_ind_max_w([1,2,3,3,1],5)

In [ ]:
#3
def min_ind_max_w (t: list[int],n: int)->int:
    i=0
    res=t[0]
    res2=0
    while i <=len(t):
         if t[i] >res:
            res2=i
            res=t[i]
        i=i+1
    return res2

In [ ]:
assert min_ind_max([1,2,3,3,1],5)== min_ind_max_w([1,2,3,3,1],5)

### 1.1.8. Exercice (extrait d’examen 2017 sans machine)

##### 1) Compte dle nombre de 'c' contenu dans la chaîne de caractère 
##### 2) 
25 1 2 2
##### 3)  Utiliser la fonction m pour écrire une fonction mm qui identifie et retourne la lettre ayant le maximum d’occurrences dans une chaîne de caractères de longueur n. Si plusieurs lettres conviennent, l’algorithme identifiera celle dont l’occurrence est la plus tardive dans s. Par exemple 'o' dans 'toto'.

In [18]:
#3
def m(s : str, n : int, c : str ) -> int: 
    res = 0
    for i in range(n): 
        if s[i] == c: 
            res = res + 1 
    return res
  

def mm(a : str, l : int, c : str)-> str:
    res2=None
    occmax=0
    nbmax=0
    for i in range(len(a)):
        if m(a,len(a),a[i])>occmax:
            occmax= m(a,len(a),a[i])
            res2=a[i]
            if res2!=0:
                nbmax+=1
    if nbmax>1:
        for i in range(len(a)):
            if i>0:
                res2=a[m]
            
    return res2

In [19]:
t='toto'

mm(t,len(t),'m')

't'

In [29]:
#4 Écrire le code qui utilise mm et fournit l’affichage suivant.
def mm(a : str, l : int, c : str)-> str:
    res2=None
    occmax=0
    nbmax=0
    for i in range(len(a)):
        if m(a,len(a),a[i])>=occmax:
            occmax= m(a,len(a),a[i])
            res2=a[i]
   
    return res2

In [30]:
t='toto'
c='anticonstitutionnellement'
appel1=mm(t,len(t),'')
appel2=mm(c,len(c),'')
print(appel1,"est la lettre qui apparaît le plus (", m(t,len(t),"o"), ")fois dans", t)
print(appel2,"est la lettre qui apparaît le plus (", m(c,len(c),"t"), ")fois dans", c)

o est la lettre qui apparaît le plus ( 2 )fois dans toto
t est la lettre qui apparaît le plus ( 5 )fois dans anticonstitutionnellement

In [31]:
#5 Modifier mm pour que dans le cas d’une occurrence maximale multiple, l’algorithme identifie la lettre de première occurrence. Par exemple, 't' dans 'toto'.
def mm(a : str, l : int, c : str) -> str:
    res2 = None
    occmax = 0 
    for i in range(len(a)):
        if m(a,len(a),a[i]) > occmax:
            occmax= m(a,len(a),a[i])
            res2 = a[i]
   
    return res2

def m(s : str, n : int, c : str ) -> int: 
    res = 0
    for i in range(n): 
        if s[i] == c: 
            res = res + 1 
    return res

'o'

In [55]:
#6 Réécrire la fonction mm de la question sans utiliser la fonction m.
def mm2(a : str, l : int, c : str) -> str:
    res2 = None
    occmax= ' '
    idmax=0
    for i in range(len(a)):
        if a[i] == c:
            occmax = a[i]
            idmax+=1
            for m in range(len(a)):
                if idmax<idmax-1:
                    occmax = a[i]
    return occmax

In [38]:
mm2('toto', len('toto'),' ')

' '

### 1.1.9. Exercice 
#### Un palindrome est un mot, ou un groupe de mots, dont l’ordre des lettres reste le même qu’on le lise de la droite vers la gauche ou inversement. Des exemples bien connus sont “été”, “kayak”, “mon nom”, “élu par cette crapule”. Ce dernier permet d’illustrer qu’on ne tient pas compte en général des accents, trémas, cédilles, ni des espaces. Dans cet exercice :
1. un mot ou un groupe de mots est représenté par une chaîne de caractères (str),
2. ces caractères sont sans accent, tréma, ni cédille : “ete”
3. les espaces sont considérés comme des caractères : ainsi “elu par cette crapule” n’est pas un palindrome ici.

In [115]:
#1 Ecrire une fonction qui teste si un argument est ou non un palindrome et retourne le booléen correspondant.

def pal(s : str)-> bool:
    res = False
    un = ' '
    d= ' '
    for i in range(0,len(s)//2+1):
        un += s[i]
    
    for m in range(len(s)-1, len(s)//2-1,-1):
        d += s[m]
    
    
    if d == un:
        res = True
    
    return res

In [119]:
def palindrome(s : str, n : int) -> bool:
    for i in range(n):
        if s[i] != s[n-1-i]:
            return False
    return True
palindrome('radar',5)

True

###

### 1.1.10. Exercice
##### Rappel : le produit scalaire deux vecteurs orthogonaux est nul.

#### Ecrire les fonctions qui vérifie l’orthogonalité ou non de vecteurs
#### 1) de taille 3

#### 2) de taille arbitraire

In [ ]:
#1
def sca(x1 : int, y1 : int, z1 : int, x2 : int, y2 : int, z2 : int) -> bool:
    res = False
    if x1

### 1.2. Objectif 20 
#### Utiliser la fonction factorielle() pour écrire des fonctions qui calculent les quantités suivantes.
#### En s’inspirant d’un exemple donné au chapitre 1, proposer des représentations graphiques qui illustrent les approximations mentionnées.

In [ ]:
#1 Une approximation de , puis vérifier que l’approximation est d’autant plus précise queest grand.
def e(n : int, k : int) -> float:

### 1.2.7. Exercice
#### Écrire un algorithme qui calcule les tables de multiplications entre entiers compris en 1 et 10, les stocke dans un tableau 2D puis les affiche. Ainsi la case (i,j) du tableau contient le résultat de i x j

In [206]:
n=5
t=[[0 for k in range(n)] for j in range(n)]

for i in range(n):
    for j in range(n):
        t[i][j]= (i+1)*(j+1)

In [207]:
t

[[1, 2, 3, 4, 5],
 [2, 4, 6, 8, 10],
 [3, 6, 9, 12, 15],
 [4, 8, 12, 16, 20],
 [5, 10, 15, 20, 25]]

### 1.2.9. Exercice.
#### Ecrire les algorithmes de vérification suivants pour une matrice donnée, carrée de taille et à valeurs flottantes.

In [12]:
# 1. M  est diagonale ?
mat=[1,0,0,0],[0,2,0,0],[0,0,3,0],[0,0,0,0.5]
Id = [[1,0,0],[0,1,0],[0,0,1]]
s = [[1,2,4],[0,4,2],[3,5,6]]
zero=[[0 for j in range(5)] for i in range(5)]
def is_diagonale(M : list[list[float]], n : int) -> bool:
    res = True
    for i in range(n):
        for j in range(n):
            if i != j:
                 if M[i][j] != 0:           
                    res = False
    return res

In [13]:
assert is_diagonale(Id, len(Id)) == True
assert is_diagonale(zero, len(zero)) == True
assert is_diagonale(s, len(s)) == False
assert is_diagonale(mat,len(mat)) == True

In [14]:
#2 M est symétrique ?
def is_symetrique(M : list[list[float]], n : int ) -> bool:
    res = True
    for i in range(n):
        for j in range(n):
            if M[i][j] != M[j][i]:
                res = False
    return res
    
sym = [[-1,0,5],[0,2,-1],[5,-1,0]]    
antisym = [[0,4,2],[-4,0,5],[-2,5,0]]

In [15]:
assert is_symetrique(Id, 3) == True
assert is_symetrique(sym, 3) == True
assert is_symetrique(s, 3) == False
assert is_symetrique(antisym, 3) == False

In [16]:
#3 M  est égale à l’identité ?
def is_identite(M : list[list[float]], n = int) -> bool:
    res = True
    for i in range(n):
        for j in range(n):
            if i != j:
                    if M[i][j] != 0:
                        res = False            
            if i == j:
                if M[i][j] !=1:
                    res= False
    return res
nonid=[[2,0,0],[0,2,0],[0,0,2]]
id5=[[1,0,0,0,0],[0,1,0,0,0],[0,0,1,0,0],[0,0,0,1,0],[0,0,0,0,1]]

In [17]:
assert is_identite(Id, 3) == True
assert is_identite(s, 3) == False
assert is_identite(zero, 5) == False
assert is_identite(nonid, 3) == False
assert is_identite(id5, 5) == True

In [18]:
#4 M est l’inverse d’une autre matrice donnée 
def is_inverse(M : list[list[float]],  T : list[list[float]], n : int ) -> bool:
    res = True
    if n == 2:
        for i in range(n):
            for j in range(n):
                if M[0][0] != T[1][1] or M[1][0] != -T[1][0] or M[0][1] != -T[0][1]:
                    res = False
        return res
    
    
    
A = [[1,2],[4,3]]
B = [[3,-2],[-4,1]]

In [19]:
is_inverse(A, B, 2)

True

In [20]:
print(-A[0][0])

-1

In [30]:
i3=[[1,0,0],[0,1,0],[0,0,1]]
h = [[2,1,1],[1,3,2],[1,0,0]]
p = [[0,0,1],[-2,1,3],[3,-1,-5]]
n=int(input("n="))
d=[[0 for k in range(n)] for j in range(n)]
for i in range(n):
    for j in range(n):
        if i == j:
            d[i][j] = 1
def is_inverse2(M : list[list[float]],  T : list[list[float]], I : list[list[float]],  x : int ) -> bool:
    
    l = 0
    c=0
    p=0
    for i in range(n):
        for j in range(n):
            l+= 
    return p
            
    
    return res

n=3

In [29]:
print(is_inverse(h,p,i3))

None

In [ ]:
i3=[[1,0,0],[0,1,0],[0,0,1]]
h = [[2,1,1],[1,3,2],[1,0,0]]
p = [[0,0,1],[-2,1,3],[3,-1,-5]]

In [3]:
is_inverse2(h,p,i3,3)

False

In [4]:
r = [[0 for k in range(n)] for j in range(n)]
print(r)
for i in range(n):
    for j in range(n):
        s=0
        for k in range(n):
            s=s+(h[i][k]*p[k][j])
    r[i][j]=s
print(r)

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]
[[0, 0, 0], [0, 0, 0], [0, 0, 1]]

### 1.2.10. Exercice (images NB)
#### Une image 2D peut être représentée par un tableau 2D de pixels. Une image “noir et blanc” de taille L * C  est ainsi représentée par un tableau de L  lignes et C colonnes, de 0 (pixel blanc) ou de 1 (pixel noir).Les images suivantes sont des exemples d’images 3 * 4.

In [31]:
#1 Ecrire l’algorithme qui transforme l’image blanche (à gauche) en une image noire 3 4 sans définir un autre tableau.
l = 3
c = 4
t = [[0 for i in range(c)] for j in range(l)]

print(t)
print(len(t), len(t[0]))

for i in range(l):
    for j in range(c):
        if t[i][j] == 0:
            t[i][j] = 1
print(t)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
3 4
[[1, 1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1]]

In [37]:
#2 Ecrire l’algorithme qui transforme l’image blanche en l’image du centre.
l = 3
c = 4
t = [[0 for i in range(c)] for j in range(l)]

print(t)
for i in range(l):
    for j in range(c):
        if t[1][1] == t[1][2] == 0:
            t[1][1] = 1
            t[1][2] = 1
print(t)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
[[0, 0, 0, 0], [0, 1, 1, 0], [0, 0, 0, 0]]

In [1]:
#3 Ecrire l’algorithme qui transforme l’image blanche en l’image de droite.
l = 3
c = 4
t = [[0 for i in range(c)] for j in range(l)]

print(t)


for i in range(l):
    for j in range(c):
        if i == 0:
            t[i][i] = 1
        if i == 1 and j <= 1:
            t[i][j] = 1
        if i == 2 and j <= 2:
            t[i][j] = 1
            
for i in range (l):
    print(t[i])

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
[1, 0, 0, 0]
[1, 1, 0, 0]
[1, 1, 1, 0]

In [4]:
# 1 .Ecrire l’en-tête de cette fonction tr()
def tr(t : list[list[int]]) -> list[list[int]]:
    pass

In [11]:
# 3. Ecrire le corps de la fonction tr().


def tr(t : list[list[int]], L : int, C : int ) -> list[list[int]]:
    for i in range(l):
        for j in range(c):
            if i == 0:
                t[i][i] = 1
            if i == 1 and j <= 1:
                t[i][j] = 1
            if i == 2 and j <= 2:
                t[i][j] = 1
    return t

In [12]:
# 2. Appliquer cette fonction à l’image blanche de gauche.
bl = [[0 for i in range(c)] for j in range(l)]
print(bl)
tr(bl, 3, 4)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

[[1, 0, 0, 0], [1, 1, 0, 0], [1, 1, 1, 0]]

In [31]:
#4 Définir une image t2 de taille 4 x 8 composée de lignes alternativement blanche et noire

c2= 8
l2 = 4
t2 = [[0 for i in range(c2)] for j in range(l2)]

for i in range(l2):
    for j in range(c2):
        if i % 2 != 0:
            t2[i][j] = 1
print(t2)

[[0, 0, 0, 0, 0, 0, 0, 0], [1, 1, 1, 1, 1, 1, 1, 1], [0, 0, 0, 0, 0, 0, 0, 0], [1, 1, 1, 1, 1, 1, 1, 1]]

In [30]:
# 5 On applique la fonction tr() à cette image. Dessiner “à la main” l’image ainsi transformée.

trt2=tr(t2, 4, 8)
print(trt2)

[[1, 0, 0, 0, 0, 0, 0, 0], [1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 0, 0, 0, 0, 0], [1, 1, 1, 1, 1, 1, 1, 1]]

In [23]:
#6 
## no comprendo este pregunta

### Analyse d’une image de taille arbitraire.

In [32]:
#1 Ecrire une fonction nbpixblc() qui compte et retourne le nombre de pixels blanc d’une image de taille arbitraire

def nbpixblc(t : list[list[int]], L : int, C : int) -> int:
    cpt = 0
    for i in range(L):
        for j in range(C):
            if t2[i][j] == 0:
                cpt+=1
    return cpt

In [33]:
nbpixblc(t2, 4, 8)

16

In [35]:
#2 Il retourne '12' car il a een effet 12 pixels blancs (4*8 =32 donc moitié = 16)